@import "../import/variables";

footer {
  background-color: $black-color;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  color: $white-color;

  &.makeSpacing {
    @media(min-width: 1151px) {
      margin-top: 300px;
      .form:first-of-type {
        margin-top: -530px;
        .text {
          color: $primary-color;
        }
      }
    }

  }

  div.image {
    position: relative;
    z-index: 0;

    &::before {

      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(46, 46, 46, .2);
    }

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  div.container {
    display: flex;
    flex-direction: column;
    color: $white-color;

    section.form {
      z-index: 3;
      margin-top: -300px;
      padding: 0 0 100px;

      @media(max-width: 1150px) {
        margin-top: 0;
        padding: 0 0 50px;
      }
      @media(max-width: 769px) {
        margin-top: 100px;
        padding: 0;
      }

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media(max-width: 1150px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      div.text {
        line-height: 1;
        transform: rotate(270deg);
        padding: 200px 0 100px 0;
        margin-bottom: 100px;
        max-width: 40%;
        color: inherit;
        @media(max-width: 1150px) {
          max-height: 100%;
          max-width: 60%;
          text-align: center;
          margin-bottom: 50px;
          transform: rotate(0deg);
        }
        @media(max-width: 769px) {
          max-width: 100%;
          margin-bottom: 100px;
          text-align: left;
          padding: 0 25px;
        }

        h2 {
          text-shadow: 2px 3px 5px rgba(46, 46, 46, .4);
          font-size: 100px;
          font-weight: 900;
          margin: 0;
          color: inherit;
          @media(max-width: 1150px) {
            font-size: 75px;
          }
          @media(max-width: 769px) {
            font-size: 50px;
          }

        }
      }

      div.form {
        background-color: $white-color;
        padding: 160px 120px 100px 120px;
        width: 50%;

        @media(max-width: 1150px) {
          padding: 100px 75px 100px 75px;
          width: 75%;
          margin-bottom: 50px;
        }
        @media(max-width: 769px) {
          width: 90%;
          padding: 50px 25px 50px 25px;
          margin-bottom: 100px;
          margin-right: 25px;
          margin-left: 25px;
        }

        form.wpcf7-form {
          width: 100%;

          p {
            width: 100%;
            margin: 0 0 50px 0;
            position: relative;

            &:last-of-type {
              margin: 0 0 25px 0;
            }

            label {
              width: 100%;
              text-transform: uppercase;
              font-size: 18px;
              color: $black-color;

              span {
                width: 100%;

                input:not([type="submit"]), textarea {
                  width: 100%;
                  margin-top: 15px;
                  font-family: $regular-font;
                  font-size: 18px;
                  color: $black-color;
                  border-radius: 0;
                  border: none;
                  border-bottom: 2px solid $black-color;
                  background-color: transparent;
                  transition: .3s ease-in-out padding;
                  padding: 5px 0;

                  &:focus-visible {
                    outline: none;
                    border: none;
                    border-bottom: 2px solid $primary-color !important;
                  }
                }

                textarea {
                  height: 200px;
                  resize: none;
                }
              }
            }

            input[type="submit"] {
              -webkit-appearance: none;
              cursor: pointer;
              width: 100%;
              text-align: center;
              border-radius: 0;
              background-color: $primary-color;
              color: $white-color;
              padding: 25px 0;
              text-transform: uppercase;
              font-size: 20px;
              border: none;
              transition: .2s ease-in-out all;

              &:hover {
                transition: .3s ease-in-out all;
                background-color: $black-color;
                box-shadow: 0 0 11px rgba(46, 46, 46, .2);
              }
            }
          }

          .wpcf7-spinner {
            display: none;
          }

          .wpcf7-response-output {
            color: $primary-color;
            border: none;
            font-size: 14px;
            font-family: $regular-font;
            width: 100%;
            text-align: center;
            margin: 0;
          }
        }
      }
    }

    div.content {
      color: inherit;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 100px 0 200px;

      @media(max-width: 950px) {
        padding: 100px 0 100px;
      }

      @media(max-width: 650px) {
        padding: 0;
        text-align: center;
        max-width: 200px;
        margin: auto;
      }

      div.section {
        flex-basis: calc(25% - 100px);

        @media(max-width: 950px) {
          flex-basis: calc(50% - 100px);
          margin-bottom: 50px;
        }
        @media(max-width: 650px) {
          flex-basis: 100%;

        }


        h4 {
          color: inherit;
          font-size: 30px;
          font-weight: 900;
          margin: 0 0 15px 0;
          @media(max-width: 650px) {
            font-size: 32px;
          }
        }

        p {
          margin: 0;
          font-size: 24px;
          color: inherit;
          font-family: $regular-font;

          a {
            font-family: inherit;
            color: inherit;
            font-size: inherit;
            text-decoration: none;
            transition: .2s ease-in-out color;

            &:hover {
              color: $primary-color;
              transition: .3s ease-in-out color;
            }
          }
        }

        div.socials {
          display: flex;
          flex-direction: row;
          @media(max-width: 650px) {
            justify-content: center;
          }
          a {
            display: block;
            text-decoration: none;
          }
        }
      }
    }
  }
}