@import "../import/variables";


header {
  top: 0;
  z-index: 10;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    @media(max-width: $container-width) {
      padding: 20px 10px;
    }
    //

    label, #menuToggle {
      display: none;
    }

    section.logo {
      text-align: left;


      svg {
        width: 250px;
        height: 90px;

        * {
          fill: $white-color;
        }
      }
    }

    section.menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      color: $white-color;

      h2 {
        display: none;
      }

      div {
        ul {
          display: flex;
          list-style: none;

          li {
            a {
              padding: 20px;
              color: inherit;
              text-decoration: none;
              font-size: 18px;
              font-family: $regular-font;

              text-shadow: 2px 3px 5px rgba(46, 46, 46, .4);

              &:hover {
                color: $primary-color;
                transition: .3s ease-in-out color;
                position: relative;
              }
            }

            &.current_page_item {
              a {
                position: relative;
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }

  &.nobanner {
    div.container {
      section.menu {
        color: $black-color;
      }

      section.logo {
        svg {
          * {
            fill: $primary-color;
          }
        }
      }
    }
  }

  &.banner {
    position: fixed;

    @media(min-width: 1025px) {
      transition: .2s ease-in-out background-color;

      &.fixed {
        transition: .3s ease-in-out background-color;
        background-color: rgba(188, 93, 46, .8);
      }
    }
  }
}

@media(max-width: 1025px) {
  #menuToggle {
    opacity: 0;
    position: absolute;
    top: -100px;
  }
  header {
    div.container {
      padding: 10px;
      align-items: unset;
      justify-content: unset;

      section.logo {
        z-index: 5;
        padding-top: 100px;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        text-align: center;
        transition: .3s ease-in-out opacity;

        svg {
          * {
            fill: $white-color;
          }
        }
      }

      input {
        opacity: 0;
      }

      label {
        display: unset;
        z-index: 5;
        padding: 0 20px;
        position: absolute;
        left: 20px;
        top: 20px;

        span {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;

          background: $white-color;
          border-radius: 3px;

          z-index: 1;

          transform-origin: 4px 0px;

          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          opacity 0.55s ease;
        }

        span:first-child {
          transform-origin: 0% 0%;
        }

        span:nth-last-child(2) {
          transform-origin: 0% 100%;
        }
      }
    }

    section.menu {
      height: 0;
      opacity: 0;
      z-index: -1;
      transition: height .3s ease-in-out, opacity .3s ease-in-out;
      position: fixed;
      left: 0;
      top: 0;
      padding-top: 90px;
      width: 100%;
      background-color: $primary-color;

      h2 {
        color: $white-color;
        margin: 40px 0 5px 0;
        font-size: 25px;
        display: flex !important;

        &:after {
          text-align: center;
        }
      }

      div {
        width: 100%;

        ul {
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0;
          margin: 0;

          li {
            padding: 10px 5px;

            a {
              font-size: 20px;
              font-family: $heading-font !important;
              font-weight: 600;
              color: $white-color !important;
            }

            &:last-of-type {
              padding: 10px 5px 30px 5px;
            }
          }
        }
      }
    }

    &.nobanner {
      div.container {
        label span {
          background: $black-color;
        }

        section.logo {
          svg {
            * {
              fill: $white-color;
            }
          }
        }
      }
    }

    &.banner {
      label {
        span {
          background-color: lighten($primary-color, 10%) !important;
        }
      }
    }
  }

  #menuToggle:checked ~ header div label span {
    opacity: 1;
    transform: rotate(45deg) translate(-12px, -10px);
  }

  #menuToggle:checked ~ header.banner div label span {
    background-color: $white-color !important;
  }

  #menuToggle:checked ~ header div label span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle:checked ~ header div label span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-9px, 9px);
  }

  #menuToggle:checked ~ header div section.menu {
    opacity: 1;
    padding-bottom: 50px;
    height: 100%;
    -webkit-box-shadow: -5px 7px 15px 2px rgba(0, 0, 0, 0.25);
    box-shadow: -5px 7px 15px 2px rgba(0, 0, 0, 0.25);
    transition: height .2s ease-in-out, opacity .2s ease-in-out;
    z-index: 4;
    gap: 0;
    flex-direction: column;
  }
}

#menuToggle:checked ~ header div section.logo {
  opacity: 1;
  transition: .3s ease-in-out opacity;
  pointer-events: initial;
}




