/* COLORS */
$white-color: #F6F6F6;
$black-color: #000;
$primary-color: #2C4591;

/* FONTS */
$standard-fontsize: 1.4em;

$regular-font: 'Work Sans', sans-serif;
$heading-font: 'Lust', sans-serif;

/* ELEMENT SIZING */
$container-width: 1350px;