@import "import/variables";


.mce-text {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: $black-color !important;
}

.wp-block {
  max-width: $container-width;
}


@import "../gutenberg/partials/two_column/two_column";
@import "../gutenberg/partials/text_content/text_content";

body:not(.wp-admin),
.acf-block-preview {

  * {
    box-sizing: border-box;
  }

  margin: 0;


  @import "assets/header";
  @import "assets/footer";
  @import "import/fonts";

  .container {
    margin: 0 auto;
    max-width: $container-width;
    width: 100%;
  }

  @media(max-width: $container-width + 40px) {
    .container {
      width: 100%;
      padding: 0 20px;
    }
  }

  #menuToggle {
    position: absolute;
    top: -100px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    font-weight: 600;
    color: inherit;
  }

  .page_not_found {
    padding: 100px 0;
    text-align: center;
    color: $white-color;
    background-color: $primary-color;

    a {
      z-index: 2;

      &:after {
        z-index: 1;
      }
    }

    h1 {
      z-index: 2;

      &:after {
        z-index: -1;
      }
    }
  }

  .page_not_found ~ footer {
    margin-top: 0;
  }

  .privacy {
    color: $primary-color;
  }
}