h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 600;
  color: inherit;
}

h1 {
  font-size: 45px;
  @media(max-width: 1024px) {
    font-size: 40px;
  }
  @media(max-width: 769px) {
    font-size: 35px;
  }
  @media(max-width: 650px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 40px;
  @media(max-width: 1024px) {
    font-size: 35px;
  }
  @media(max-width: 769px) {
    font-size: 30px;
  }
  @media(max-width: 650px) {
    font-size: 25px;
  }
}

h3 {
  font-size: 35px;
  @media(max-width: 1024px) {
    font-size: 30px;
  }
  @media(max-width: 769px) {
    font-size: 25px;
  }
  @media(max-width: 650px) {
    font-size: 20px;
  }
}

h4 {
  font-size: 30px;
  @media(max-width: 1024px) {
    font-size: 25px;
  }
  @media(max-width: 769px) {
    font-size: 20px;
  }
}

h5 {
  font-size: 25px;
  @media(max-width: 1024px) {
    font-size: 20px;
  }
}

h6 {
  font-size: 20px;
  @media(max-width: 1024px) {
    font-size: 16px;
  }
}


a {
  transition: .2s ease-in-out color;
  color: inherit;
  font-family: $regular-font;

  &:hover {
    color: $primary-color;
    transition: .3s ease-in-out color;
  }
}

p, li, span {
  color: inherit;
  font-family: $regular-font;
  font-size: 14px;
  font-weight: 300;

  @media(min-width: 1650px) {
    font-size: 16px;
  }
}

