/* COLORS */
$white-color: #EAEAEA;
$black-color: #2E2E2E;
$primary-color: #A66432;
$secoundary-color: #D6CFC2;

/* FONTS */
$standard-fontsize: 16px;

$regular-font: halyard-display, sans-serif;
$heading-font: meno-banner, serif;

/* ELEMENT SIZING */
$container-width: 1420px;