section.process {
  div.container {
    padding: 200px 0;
    article.body {

      display: flex;
      flex-wrap: wrap;
      //justify-content: space-between;
      @media(max-width: 1150px) {
        //flex-direction: column;
        align-items: center;
        justify-content: center;
      }


      > div {
        flex-basis: calc(33.33% - 75px);
        margin-right: 75px;
        margin-bottom: 90px;

        &.single {
          padding-top: 45px;
          border-top: 1px solid black;

          > a {
            display: block;
            height: 100%;
            text-decoration: none;

            div.svg {
              margin: 0 0 25px 0;
            }

            div.num{
              font-size: 80px;
              font-family: $heading-font;
              font-weight: bold;
              margin-bottom: 30px;
            }

            h4 {
              margin: 0 0 25px 0;
              font-size: 30px;
              font-weight: bold;
            }

            p {
              font-size: 20px;
              padding-right: 30px;
              margin: 0 0 25px 0;
            }

            span {
              color: $primary-color;
              padding-bottom: 10px;
              border-bottom: 1px solid $primary-color;
              font-size: 20px;
              font-weight: bold;
              font-family: $heading-font;
              display: inline-flex;
              align-items: center;
              gap: 10px;

              svg {

                transition: .3s ease-in-out margin-left;
                width: 20px;
                height: 20px;
                margin: 0 0 0 0;
              }
            }

            &:hover {
              span {
                svg {
                  transition: .2s ease-in-out margin-left;
                  margin-left: 10px;
                }
              }
            }
          }
        }

        &:nth-of-type(5) {
          margin-right: calc(33.33% + 75px);
        }

        &:nth-of-type(6) {
          margin-left: 33.33%;
        }
      }

      div.text {
        @media(min-width: 1151px) {
          margin-top: -300px;
        }


        line-height: 1;
        writing-mode: vertical-lr;
        max-height: 50%;
        text-align: left;
        @media(max-width: 1150px) {
          writing-mode: initial;
          max-height: 100%;
          max-width: 60%;
          text-align: center;
          margin-bottom: 50px;
        }
        @media(max-width: 769px) {
          max-width: 100%;
        }

        h2 {
          @media(min-width: 1151px) {
            text-shadow: 2px 3px 5px rgba(46, 46, 46, .4);
          }

          font-size: 100px;
          font-weight: 900;
          margin: 0;
          color: $primary-color;

          @media(max-width: 769px) {
            font-size: 60px;
          }

        }
      }
    }
  }

  a.more {
    float: right;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $primary-color;
    font-size: 25px;
    font-family: $heading-font;
    font-weight: bold;

    padding-bottom: 10px;
    border-bottom: 1px solid $primary-color;

    svg {
      margin-left: 20px;
      transition: .2s ease-in-out margin-left;
    }

    &:hover {
      svg {
        transition: .3s ease-in-out margin-left;
        margin-left: 40px;
      }
    }
  }
}

.acf-block-preview {
  section.icon_nav {
    padding: 25px 0 40px;
    div.container {
      article.body {
        div.text {
          margin-top: unset !important;
        }
      }
    }
  }
}
