@import "../import/variables";

footer {
  margin-top: 150px;
  background-color: $primary-color;

  div.container {
    display: flex;
    justify-content: space-around;
    padding: 100px 0 30px 0;
    color: $white-color;
  }
}