@import "../../../css/import/variables";

section.two_column {
  padding: 200px 0;
  background-color: $white-color;

  @media(max-width: 1150px) {
    padding: 100px 0;
  }
  @media(max-width: 1024px) {
    padding: 50px 0;
  }
  @media(max-width: 769px) {
    padding: 50px 0;
  }
  @media(max-width: 650px) {
    padding: 80px 25px;
  }

  div.container {
    div.content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;

      > div {
        flex-basis: calc(50% - 90px);
        @media(max-width: 1150px) {
          flex-basis: calc(50% - 40px);
        }
        @media(max-width: 650px) {
          flex-basis: 100%
        }
      }
    }

    div.image {
      position: relative;
      order: 2;

      @media(max-width: 650px) {
        order: 1;
        margin-bottom: 30px;
      }

      &.first {
        order: 1;
      }

      @media(min-width: 1151px) {
        margin-bottom: -250px;
      }
      @media(max-width: 1150px) {
        margin-bottom: -150px;
      }
      @media(max-width: 1024px) {
        margin-bottom: -180px;
      }
      @media(max-width: 950px) {
        margin-bottom: -100px;
      }

      @media(max-width: 650px) {
        margin-bottom: -140px;
      }

      img {
        z-index: 4;
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }

    div.textContent {
      order: 1;

      padding: 20px 50px 0;
      color: $primary-color;

      h1, h2, h3, h4, h5, h6 {
        line-height: 1.0;
        margin: 0 0 20px 0;
        color: $primary-color;
      }

      p, li, span {
        line-height: 1.5;
        color: $black-color;
        font-size: 20px;
      }

      h1, h2 {
        @media(min-width: 1651px) {
          font-size: 100px;
        }
        font-size: 80px;
        @media(max-width: 1024px) {
          font-size: 60px;
        }
        @media(max-width: 769px) {
          font-size: 50px;
        }
        @media(max-width: 650px) {
          font-size: 40px;
        }
      }
    }
  }

  @media(max-width: 1025px) {
    div.container {
      gap: 25px;

      div.textContent {
        padding: 20px;
      }
    }
  }
  @media(max-width: 960px) {
    div.container {
      gap: 10px;
      flex-direction: column;

      div.textContent {
        padding: 0px;
      }

      div.image {
        max-height: 500px;
        overflow: hidden;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
  @media(max-width: 650px) {
    div.container {
      div.content {
        flex-wrap: wrap-reverse;
      }
    }
  }
}

section.two_column + section {
  padding-top: 200px;
}

.acf-block-preview {
  section.two_column {
    div.container {
      div.content {
        > div {
          flex-basis: calc(50% - 30px);
        }
      }
    }
  }
}